@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);/*this is for the icons so that they can be stars*/
html {
    background: whitesmoke;
}

/*naigation bar*/
.navbar-navbar{
    background:#444;
    box-shadow:0px 1px 10px 10px #ddd;
    height:auto;
    text-align:center;
    width:100%;
}
.navbar-navbar .navbar-nav .nav-item{
    display:inline;
}
.navbar-navbar .navbar-nav .nav-item .nav-link{
    color:#fff;
    display:inline-block;
    height:60px;
    line-height:60px;
    margin:0px;
    padding:0px 15px;
    text-decoration:none;
    transition: color 0.3s ease-in;
}
.navbar-nav .nav-item .nav-link:hover {
    color:#FCD000;
}

/* index.html css start */
.container {
    margin: 50px auto;
    width: 560px;
    display: block;
}
.card {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    margin-bottom: 65px;
    width: 100%;
    height: 125px;
}
.card-media {
    float: left;
    padding: 0 0 25px 25px;
    position: relative;
    width: 145px;
}
.card-media > img {
    display: block;
    height: 100%;
    max-width: 100px;
    object-fit: cover;
    object-position: center;
    margin-top: -25px;
    position: relative;
    border-radius: .25rem;
}

.card-body-heading {
    padding-top: 25px;
    margin: 0;
}
.card-body-stars {
    padding-right: 20px;
}
.card-button {
    color: #9C948A;
    display: inline-block;
    padding: 12px 4px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 200ms ease-out;
}
/* end index css */

/* this is for the stars in the index.html*/
fieldset, label {
    margin: 0;
    padding: 0;
}

body { 
    margin: 20px; 
}

.rating { 
    margin-top: -20px;
    border: none;
    float: right;
    align-items: left;
}

.rating > input {
    display: none; 
} 
.rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before { 
    content: "\f089";
    position: absolute;
}

.rating > label { 
    color: #ddd; 
    float: right; 
}
/* end of star css */

/* more info section*/
.header-moreinfo {
    text-align: center;
}
.container-moreinfo {
    margin: 50px auto;
    width: 70%;
    display:flex;
    flex-direction: column;
}
.card-moreinfo {
    flex:1;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    margin-bottom: 65px;
    width: 100%;
    height: 125px;
    padding-left: 20px;
    padding-right: 20px;
}

/* floating add button css*/
.floating-btn {
    width: 60px;
    height: 60px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 45px;
    bottom: 45px;
    outline: none;
    border: none;
    cursor: pointer;
}

.new-item-menu-label-container{
	position:fixed;
	bottom:52px;
	right:110px;
	display:table;
	visibility: hidden;
}
.new-item-menu-label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.floating-btn + div.new-item-menu-label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}
  
.floating-btn:hover + div.new-item-menu-label-container{
    visibility: visible;
    opacity: 1;
}

/*account css*/
.container-account {
    margin: 50px auto;
    width: 70%;
    display:flex;
    flex-direction: column;
}
.card-image {
    flex: 1;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    margin-bottom: 65px;
    width: 100%;
    height: 125px;
}
.profile-img {
    flex:1;
    background: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #eee;
}
.card-info{
    flex:1;
    display: flex;
    flex-direction: column;
    text-align: center;
}